body {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: "Times New Roman", Helvetica, sans-serif;
    font-weight: bold;
    width: 120px;
    height: 80px;
    font-size: 36px;
    border-radius: 32px;
    margin: 0;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: gray;
    border: solid lightgray 16px;
    border-radius: 40px;
    padding: 10px;
}

.display {
    background-color:cadetblue;
    border: solid darkgray 4px;
    margin: 10px;
    padding: 0 8px 0;
    text-align: right;
    font-size: 60px;
}

.keypad {
    display: flex;
    justify-content: center;
    width: 520px;
    margin: 0;
}

.number-controls {
    width: 380px;
    margin-right: 4px;
}

.top {
    display: flex;
    gap: 12px;
    font-size: 24px;
    width: 400px;
}

.clear, .undo {
    width: 180px;
    background-color: rgb(37, 37, 37);
    color: white;
}

.all-numbers {
    flex-wrap: wrap;
    justify-content: space-between;
}

.number, .decimal, .change-sign {
    background-color: white;
}

.all-operators {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.operator {
    background-color: lightgray;
}